{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
  </div>
</section>
<style>
img[src$="#floatright"] {
  float: right;
  margin: 0 0 1em 1em;
  width: 50%;
}

img[src$="#floatbottom"] {
  display: left;
  margin: 2em auto 1em auto; /* Centré horizontalement avec marge en haut */
  max-width: 20%; /* Taille réduite */
  width: 30%;
  height: auto;
  clear: both; /* S'assure qu'elle se place après les autres éléments */
}
img[src$="#floatrightb"] {
  float: auto;
  margin: 0 0 1em 1em;
  width: 40%;
}
img[src$="#floatrighte"] {
  float: right;
  margin: 0 0 1em 1em;
  width: 35%;
}
</style>
{{ end }}
